name: smoketest

on:
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: vyos-current-arm64

jobs:
  build:
    runs-on: ubuntu-24.04-arm
    # runs-on: ubuntu-24.04
    permissions:
      contents: write
    container:
      image: ghcr.io/sever-sever/vyos-build-arm64:latest
      options: --sysctl net.ipv6.conf.lo.disable_ipv6=0 --privileged

    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
        with:
          path: vyos-build-arm64

      - name: Check
        run: |
          ls -lah
          ls -l ../
          
      - name: Checkout vyos-build repo
        uses: actions/checkout@v6
        with:
          repository: sever-sever/vyos-build
          ref: T8065
          path: vyos-build

      - name: Check arch
        run: |
          ls -lah
          ls ../
          uname -a
          uname -m
          free -mh
          lscpu
