name: smoketest

on:
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: vyos-current-arm64

jobs:
  build:
    runs-on: ubuntu-24.04-arm
    # runs-on: ubuntu-24.04
    permissions:
      contents: write
    container:
      image: ghcr.io/sever-sever/vyos-build-arm64:latest
      options: --sysctl net.ipv6.conf.lo.disable_ipv6=0 --privileged

    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
        with:
          path: vyos-build-arm64

      # - name: Check
      #   run: |
      #     ls -lah
      #     ls -l ../
          
      - name: Checkout vyos-build repo
        uses: actions/checkout@v6
        with:
          repository: sever-sever/vyos-build
          ref: T8065
          path: vyos-build

      - name: Copy flavors to vyos-build
        run: |
          rsync -avh vyos-build-arm64/data/build-flavors/ vyos-build/data/build-flavors/

      - name: Install smoketest dependencies
        run: |
          apt-get update
          apt-get install -y python3-pexpect

      - name: Build VyOS image
        working-directory: vyos-build
        run: |
          ./build-vyos-image --architecture arm64 generic-arm64

      - name: Check .iso file
        working-directory: vyos-build
        run: |
          ls -lah build

      - name: Run smoketests
        working-directory: vyos-build
        run: |
          sudo make test-no-interfaces-no-vpp | tee tmp.log
